.textarr{
    margin-left: 12px;
}

h4{
    font-size: 16px;
    color: #002e5a;
    margin-left: 20px;
    font-weight: bold;
}


h5{
    color: #002e5a;
    margin-left: 20px;
}


.space{
    margin-top: 0px;
    padding-top: 0px;
    height: 65px;
}
label{
    font-size: 14px;
    font-family: Calibri !important;
    color: #002e5a;
}

.separate{
    margin-top:5px;
}


.sweet-alert button {
    background-color: #002e5a;
    color: white;
    border: 0;
    box-shadow: none;
    font-size: 17px;
    font-weight: 500;
    border-radius: 5px;
    padding: 10px 32px;
    margin: 26px 5px 0 5px;
    cursor: pointer
}

.sweet-alert button:focus {
    outline: 0;
    box-shadow: 0 0 2px rgba(128, 179, 235, 0.5), inset 0 0 0 1px rgba(0, 0, 0, 0.05)
}

.sweet-alert button:hover {
    background-color: #a1d9f2
}

.sweet-alert button:active {
    background-color: #81ccee
}

.sweet-alert button.cancel {
    background-color: #d0d0d0
}

.sweet-alert button.cancel:hover {
    background-color: #c8c8c8
}

.sweet-alert button.cancel:active {
    background-color: #b6b6b6
}

.sweet-alert p {
    font-size: 14px;
    font-weight: 400
}

.sweet-alert h2 {
    font-size: 26px
}

.sweet-alert {
    padding: 25px;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 0 1 px rgba(0, 0, 0, 0.1), 0 2 px 4 px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 1 px rgba(0, 0, 0, 0.1), 0 2 px 4 px rgba(0, 0, 0, 0.2)
}


.inputreadonly
{

    background-color:antiquewhite !important;
    border-radius: 3px;

}

.inputfields
{

    background-color: lavender;
    color:black;
    border-radius: 3px;
}


.inputfield
{

    background-color: lavender;
    color:black;
    border-radius: 3px;



}


/*.col-lg-6{*/
    /*height: 65px;*/
/*}*/

/*.col-lg-12{*/
    /*height: 65px;*/

/*}*/



@media only screen and (min-width: 1000px) and (max-width:1200px)
{
    .space
    {
        margin-top: 0px;
        padding-top: 0px;
        height: 65px;
    }

}

.formm.a:link{color:forestgreen;}
.formm a:visited {color:seagreen;}
.formm a:hover {text-decoration:none;color:yellowgreen;font-weight:bold;}




.pagination>.active>a{
    background-color:#204d74 !important; ;
    border-color:#204d74 !important;
}

input[readonly="readonly"]
{
    background-color:antiquewhite
}

.banksearch{
    margin-bottom:18px;
    margin-left:18px;
}